body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background: #f2f2f2;
	color: #333;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background: #080808;
	color: #fff;
	border: none;
	border-radius: 5px;
}

button:disabled {
	background: #cccccc;
	cursor: not-allowed;
}

#data,
#stats {
	margin: 20px 0;
	padding: 15px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hrHistory {
	margin-top: 10px;
	font-size: 14px;
}

#debug {
	background: #000;
	color: #0f0;
	padding: 15px;
	font-family: monospace;
	height: 200px;
	overflow-y: auto;
	border-radius: 8px;
}

.recent {
	color: #28a745 !important;
}

#graph {
	height: 400px;
	width: 100%;
}
